streamlit 
langchain 
langchain-openai 
langchain-community 
google-search-results 
pypdf 
chromadb 
validators 
youtube-transcript-api 
pytube 
unstructured 
markdownify 
beautifulsoup4 
html2text 
lxml 
numexpr